<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info3604.assignment_organizer">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".help.Help"></activity>
        <activity android:name=".about.About" />
        <activity
            android:name=".views.Details"
            android:parentActivityName=".Main" />
        <activity android:name=".Widget.NewAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".views.add_checkpoint" />
        <activity
            android:name=".views.view_checkpoints"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.update_checkpoint" />
        <activity android:name=".views.add_assignment" />
        <activity
            android:name=".views.view_assignments"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.update_assignment" />
        <activity android:name=".views.add_course" />
        <activity
            android:name=".views.view_courses"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.update_course" />
        <activity android:name=".views.checkpoint_methods" />
        <activity android:name=".views.course_methods" />
        <activity android:name=".views.NotificationActivity" />

        <receiver android:name=".controllers.NotifController">
            <intent-filter>
                <action android:name="action.DISPLAY_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".Main"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.assignment_methods" />
    </application>

</manifest>